.home-link {
    z-index: 2;
    position: absolute;
    margin: 1rem;
    display: inline-block;
    top: 0;
    left: 0;
}

.toggle {
    z-index: 2;
    position: absolute;
    margin: 1rem;
    display: inline-block;
    top: 0;
    right: 0;
}

.video-wrapper {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    // z-index: 2;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}

.home {

}

.about {
    background: slategrey;
}

.contact {
    background: black;
}
