<!-- Header -->
<a href="#home" class="home-link">Lemossa Productions</a>
<a href="#home" class="toggle">toggle</a>

{{outlet}}

<!-- fullpage video -->
<!-- <div class="video-wrapper">
    <video></video>
</div> -->

{{#fullpage-js}}
    <div class="section home" data-anchor="home">
        <div class="open-gallery">View Gallery -></div>
    </div>
    <div class="section about" data-anchor="about">

    </div>
    <div class="section contact" data-anchor="contact">

    </div>
{{/fullpage-js}}
